* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav{
    background-color: #e3f2fd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-toggler{
  color: #116D6E !important;
  background-color: transparent !important;
}

/* Custom CSS to remove the border and outline around the toggler icon */
.navbar-toggler {
  border: none; /* Remove the border */
  outline: none; /* Remove the outline when focused */
}

/* Style for the toggler when it's active (clicked) */
.navbar-toggler:focus {
  border: none; /* Remove the border on focus */
  outline: none; /* Remove the outline on focus */
}

/* .nav-link:hover{
  color: #116D6E !important;
} */

span{
    color: #116D6E;
}

 img{
    width: 45px;
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

 
  nav li a {
    
    display: inline-flex;
    color: black;
    text-align:left;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;
  }

  nav span {
 
    font-weight: 800;
    font-size:x-large;
  }

  /*Change the link color on hover */
  li a, a:hover {
    text-decoration: none;
    color: #116D6E;
}
li {
    float:left;
    position: relative;
  }