* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Add this CSS to make the navigation bar fixed */
nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Adjust the z-index as needed */
  background-color: #e3f2fd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: top 0.3s; /* Add smooth transition for hiding/showing the navbar */
}

/* Add this CSS to create space for the fixed navigation bar */
body {
  padding-top: 70px; /* Adjust the value to match the height of your navigation bar */
}

/* Add this CSS to style the toggler button */
.navbar-toggler {
  color: #116d6e !important;
  background-color: transparent !important;
  border: none;
  outline: none;
}

/* Style for the toggler when it's active (clicked) */
.navbar-toggler:focus {
  border: none; /* Remove the border on focus */
  outline: none; /* Remove the outline on focus */
}

span {
  color: #116d6e;
}

img {
  width: 45px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li a {
  display: inline-flex;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 500;
}

nav span {
  font-weight: 800;
  font-size: x-large;
}

/*Change the link color on hover */
li a,
a:hover {
  text-decoration: none;
  color: #116d6e;
}
li {
  float: left;
  position: relative;
}
