<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>About</title>
<link rel="icon" type="image/x-icon" th:href="@{/images/logoub.svg}" href="images/logoub.svg">
<!-- Font Icon -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
<!-- Main css -->
<link rel="stylesheet" href="css/signin_signup.css">

</head>
<body>

	<div class="main">

		<!-- Sign up form -->
		<section class="signup">
			<div class="container">
				<div class="signup-content">
					<div class="signup-form">
						<h2 class="form-title">About.</h2>
					
						
							<div class="form-group">
								 <p class="label-agree-term">The Management System uses HTML, CSS, Java Spring Boot, and a MySQL database. It offers an intuitive user interface, efficient back-end logic,
                                    and effective storage and management of data, making it an ideal
                                    solution for managing large number of data.
									 <a href="/index" class="term-service">Back
										</a></p>
										
							</div>
							<a href="#" class="signup-image-link"><i class="ri-building-2-line"></i>more</a>
						
					</div>
					<div class="signup-image">
						<figure>
							<img src="images/logoub.svg" alt="logoub image">
						</figure>
						
					</div>
				</div>
			</div>
		</section>


	</div>


</body>

</html>