<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Alertsignup</title>
<link rel="icon" type="image/x-icon" th:href="@{/images/logoub.svg}" href="images/logoub.svg">
<!-- Font Icon -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
<!-- Main css -->
<link rel="stylesheet" href="css/signin_signup.css">

</head>
<body>

	<div class="main">

		<!-- Sign up form -->
		<section class="signup">
			<div class="container">
				<div class="signup-content">
					<div class="signup-form">
						<h2 class="form-title">Alert !</h2>
					
						
							<div class="form-group">
								 <label for="agree-term"class="label-agree-term">Who will register or add users? Admin ! you are not admin please 
									 <a href="/index" class="term-service">go Back
										</a></label>
							</div>
							<div class="button">
								<a href="adminlogin" class="form-submit"><i class="ri-shield-user-fill"></i>Admin</a>
							</div>
						
					</div>
					<div class="signup-image">
						<figure>
							<img src="images/secure-server-animate.svg" alt="sing up image">
						</figure>
						
					</div>
				</div>
			</div>
		</section>


	</div>



</body>

</html>