<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="icon" type="image/x-icon" href="https://icon-library.com/images/78104-200_9445.png">
   <link rel="stylesheet" href="/src/main/resources/static/css/index.css">
   <link rel="stylesheet" href="/src/main/resources/static/css/navbar.css">
    <title>Unicorn</title>
    
  </head>
  
  <body>
    
    <nav class="navbar">
      <a class="navbar" href="#">
        <span> <img src="https://icon-library.com/images/78104-200_9445.png" >Unicorn©</span></span>
      </a>
       
    <div>
      <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="/viewInfo">Viewinfo</a></li>
        <li><a href="/updateInfo">Updateinfo</a></li>
        <li><a href="/remove">Remove Student</a></li>
        <li><a href="/getAllStudents"><b>all</b></a></li>
        
      </ul>
    </div></nav>
    <div class="h2">
    <h2>Welcome to Student Management System</h2></div>
    <div class="h6">
    <h6>Welcome to the Student Management System! Our platform is designed to streamline administrative tasks, empower educators, and enhance communication to foster a seamless management experience for education institute</h6>
    </div>
    
  
  </body>
</html>
