<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="icon" type="image/x-icon" href="https://icon-library.com/images/78104-200_9445.png">
   <link rel="stylesheet" href="/src/main/resources/static/css/navbar.css">
   <link rel="stylesheet" href="/src/main/resources/static/css/tableshow.css">
    <title>Show All Students</title>
    
</head>
<body>
    <nav class="navbar" >
        <a class="navbar" href="#">
          <span> <img src="https://icon-library.com/images/78104-200_9445.png" >Unicorn©</span></span>
        </a>
         
      <div>
        <ul>
          <li><a href="/register">Register</a></li>
          <li><a href="/viewInfo">Viewinfo</a></li>
          <li><a href="/updateInfo">Updateinfo</a></li>
          <li><a href="/remove">Remove Student</a></li>
          <li><a href="/getAllStudents"><b>all</b></a></li>
          
        </ul>
      </div></nav>
      <br>
 <h2>All Students Details</h2>
    <table border="1">
        <tr>
            <th>kodID</th>
            <th>name</th>
            <th>branch</th>
            <th>email</th>
            <th>dob</th>
            <th>gender</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.kodID}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.branch}"></td>
            <td th:text = "${student.email}"></td>
            <td th:text = "${student.dob}"></td>
            <td th:text = "${student.gender}"></td>
        </tr>
    </table>
</body>
</html>
