<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Sign Up</title>
<link rel="icon" type="image/x-icon" th:href="@{/images/logoub.svg}" href="images/logoub.svg">
<!-- Font Icon -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
<!-- Main CSS -->
<link rel="stylesheet" th:href="@{/css/signin_signup.css}" href="/src/main/resources/static/css/signin_signup.css">

</head>
<body>

	<div class="main">

		<!-- Sign up form -->
		<section class="signup">
			<div class="container">
				<div class="signup-content">
					<div class="signup-form">
					 <div class="item" id="Item">
				        <p th:if="${result}">[[${result}]]</p>
				      </div>
									
						<h2 class="form-title">Sign up</h2>
					
						<form  action="/addUsers" method="post" class="register-form"
							id="register-form">
							<div class="form-group">
								<label for="name"><i class="ri-user-fill"></i></label> <input
									type="text" name="name" id="name" placeholder="Your Name" required/>
							</div>
							<div class="form-group">
								<label for="email"><i class="ri-mail-fill"></i></label> <input
									type="email" name="email" id="email" placeholder="Your Email" required/>
							</div>
							<div class="form-group">
								<label for="password"><i class="ri-door-lock-fill"></i></label> <input
									type="password" name="password" id="password" placeholder="Password" required/>
							</div>
							<div class="form-group">
								<label for="re-password"><i class="ri-door-lock-fill"></i></label>
								<input type="password" name="re_password" id="re_password"
									placeholder="Repeat your password" required/>
							</div>
							<div class="form-group">
								<label for="contact"><i class="ri-phone-fill"></i></label>
								<input type="text" name="contact" id="contact"
									placeholder="Contact no" required/>
							</div>
							<div class="form-group">
								<input type="checkbox" name="agree-term" id="agree-term"
									class="agree-term" required/> <label for="agree-term"
									class="label-agree-term">I
									agree all statements in <a href="#" class="term-service">Terms
										of service</a></label>
							</div>
							<div class="form-group form-button">
								<input type="submit" name="signup" id="signup"
									class="form-submit" value="Register" />
							</div>
						</form>
					</div>
					<div class="signup-image">
						<figure>
							<img src="images/signup-img.png" alt="sing up image">
						</figure>
						<a href="/signin" class="signup-image-link"><i class="ri-shield-user-fill"></i>I am already
							member</a>
					</div>
				</div>
			</div>
		</section>


	</div>
	<!-- JS -->
	<script th:src="@{/javascript/passVal.js}"></script>
	<script th:src="@{/javascript/script.js}"></script>



</body>

</html>