<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Sign in</title>
<link rel="icon" type="image/x-icon" th:href="@{/images/logoub.svg}" href="images/logoub.svg">
<!-- Font Icon -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
<!-- Main css -->
<link rel="stylesheet" th:href="@{/css/signin_signup.css}" href="css/signin_signup.css">

</head>
<body>

	<div class="main">

		<!-- Sing in  Form -->
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
					<div class="signin-image">
						<figure>
							<img src="images/signin-img.png" alt="sing up image">
						</figure>
						<a href="/alertsignup" class="signup-image-link"><i class="ri-login-circle-fill"></i>Create an
							account</a>
					</div>

					<div class="signin-form">
					
					 <div class="item" id="Item">
				        <p th:if="${result}">[[${result}]]</p>
				      </div>
				      
						<h2 class="form-title">Sign in</h2>
						<form  action="/validate" method="post" class="register-form"
							id="login-form">
							<div class="form-group">
								<label for="email"><i class="ri-shield-user-fill"></i></label> <input
									type="email" name="email" id="email"
									placeholder="Your ID or Email" required/>
							</div>
							<div class="form-group">
								<label for="password"><i class="ri-lock-password-fill"></i></label> <input
									type="password" name="password" id="password"
									placeholder="Password" required/>
							</div>
							<div class="form-group">
								<input type="checkbox" name="remember-me" id="remember-me"
									class="agree-term" /> <label for="remember-me"
									class="label-agree-term"><span><span></span></span>Remember
									me</label>
							</div>
							<div class="form-group form-button">
								<input type="submit" name="signin" id="signin"
									class="form-submit" value="Log in" />
							</div>
						</form>
						<div class="social-login">
							<span class="social-label">Or login with</span>
							<ul class="socials">
								<li><a href="#"><i class="ri-gitlab-fill"></i></a></li>
								<li><a href="#"><i class="ri-google-fill"></i></a></li>
								<li><a href="#"><i class="ri-github-fill"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- JS -->
	<script th:src="@{/javascript/script.js}"></script>
	
</body>

</html>